* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 1.4rem;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(30, 38%, 92%);
}

.product-title p,
.product-content,
.btn {
  font-family: "Montserrat", sans-serif;
}

.product-title h1,
.price-strong,
.price-small {
  font-family: "Fraunces", sans-serif;
}

.product {
  background-color: hsl(0, 0%, 100%);
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 11px;
  overflow: hidden;
}

.p-img {
  height: 100%;
}

.product-details {
  padding: 2.4rem;
  align-items: center;
  justify-content: center;
}

.product-title p {
  text-transform: uppercase;
  letter-spacing: 11px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  margin-bottom: 3rem;
}

.product-title h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.product-content {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
  margin-bottom: 3rem;
}
.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  color: hsl(228, 12%, 48%);
  margin-bottom: 2rem;
}
.price-strong {
  color: hsl(158, 36%, 37%);
}

.price-small {
  text-decoration: line-through;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 11px;
  text-align: center;
  padding: 1.5rem 3rem;
  font-size: 1.48rem;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

.btn[data-icon="shopping-cart"]::before {
  content: "";
  width: 1.5rem;
  height: 1.6rem;
  background-image: url("images/icon-cart.svg");
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
